<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="<%= language %>">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="Content-Language" content="en" />
    <meta http-equiv="Content-Style-Type" content="text/css; charset=utf-8">

    <title>Jugar | Club Penguin</title>

    <link rel="shortcut icon" href="<%= links.play %>/images/favicon.ico" type="image/vnd.microsoft.icon">

    <link href="<%= links.play %>/css/baseline.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="<%= links.play %>/css/affiliate.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="<%= links.play %>/css/upgrade.css" rel="stylesheet" type="text/css" media="screen" />

    <link href="<%= links.play %>/css/modal.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="<%= links.play %>/css/play.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="<%= links.play %>/css/disney-error.css" rel="stylesheet" type="text/css" media="all" />

    <style>
        #D_F_GameSection {
            width: 100%;
            height: 95%;
            min-height: 550px;
            /*Increased to match mp client small screen*/
            min-width: 800px;
            /*Increased to match mp client small screen*/
            display: block;
            outline: none;
            clear: both;
        }

        #CP_Unallowed_JS_ErrorSection {
            display: block;
        }

        #bigscreen {
            display: none;
        }

        #upgrade {
            display: none;
        }

        #TrialBannerContainer {
            width: 100%;
            height: 0px;
            min-width: 760px;
            display: block;
            outline: none;
            clear: both;
            background-image: url(<%= links.play %>/images/bar-bg.png);
            background-repeat: repeat-x;
            overflow: hidden;
        }

        #TrialBanner {
            width: 842px;
            min-width: 760px;
            margin-left: auto;
            margin-right: auto;
            line-height: 28px;
            vertical-align: middle;
        }

        #TrialBannerBtn {
            float: right;
            width: 258px;
            background-image: url(<%= links.play %>/images/bar-badge.png);
            background-repeat: no-repeat;
        }

        #TrialBannerBtn a:link {
            display: block;
            float: right;
            width: 208px;
            height: 28px;
            overflow: hidden;
            background: url(<%= links.play %>/images/bar-button-states.png) no-repeat 0 0;
            text-decoration: none;
            font-size: 12px;
        }

        #TrialBannerBtn a:hover {
            background-position: 0px -28px;
        }

        #TrialBannerBtn a:active {
            background-position: 0px -56px;
        }

        #TrialText {
            min-height: 28px;
            line-height: 28px;
            color: #333333;
        }

        #TrialText2 {
            min-height: 28px;
            line-height: 28px;
            color: #333333;
        }

        #TrialText b {
            color: #000000;
            font-size: larger;
            font-weight: bolder;
        }

        .grecaptcha-badge {
            visibility: hidden;
        }
    </style>

    <link id="stylesheet" type="text/css" href="<%= links.play %>/css/0.css" rel="stylesheet" />
    <link id="stylesheet" type="text/css" href="<%= links.play %>/css/0.css" rel="stylesheet" />
    <!--[if IE 6]>
    <link rel="stylesheet" type="text/css" href="css/ie_affiliate.css" />
    <![endif]-->
    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="css/ie7_affiliate.css" />
    <![endif]-->

</head>

<body>
    <div id="affiliateheaderforcp">
        <div id="hdrWrap" style="margin: 0 0 -5px;">

            <div id="navBg">
                <!-- This is the HTML Nav and SubNav ********************** -->
                <div id="htmlNav">
                    <ul id="bu_nav">
                        <li><a href="<%= links.home %>/" target="_parent">Inicio</a></li>
                        <li>|</li>
                        <li><a href="<%= links.home %>/blog/" target="_parent">¿Qué hay de nuevo?</a></li>
                        <li>|</li>
                        <li><a href="<%= links.home %>/help/" target="_parent">Ayuda</a></li>
                        <li>|</li>
                        <li><a href="<%= links.home %>/parents/" target="_parent">Padres</a></li>
                        <li>|</li>
                        <li class="noMarg"><a href="<%= links.home %>/membership" target="_parent">Socios</a></li>
                    </ul>

                    <div id="bigscreen">
                        <div id="big_screen_button_pt">
                            <a href="#/bigscreen"></a>
                        </div>
                    </div>
                    <div id="smallscreen">
                        <div id="sm_screen_button_pt">
                            <a href="#/smallscreen"></a>
                        </div>
                    </div>
                    <div id="languageselector" class="langselect">
                        <form name="selectlang" action="languageselector.php" method="post" onsubmit="return send(this)"
                            style="padding: 0; margin: 0;">
                            <label for="go2" class="langselectlabel">Seleccionar idioma:</label>
                            <select name="go2" id="go2" class="langselectfield" onchange="selectLang(this)">
                                <option value="<%= links.play %>/">English</option>
                                <option value="<%= links.play %>/pt/" selected>Portugu&#234;s</option>
                                <option value="<%= links.play %>/fr/">Fran&#231;ais</option>
                                <option value="<%= links.play %>/es/">Espa&#241;ol</option>
                                <option value="<%= links.play %>/de/">Deutsch</option>
                                <option value="<%= links.play %>/ru/">Русский</option>
                            </select>
                            <noscript><input type="image" name="Submit"
                                    src="<%= links.play %>/images/button_langselect_go.gif" alt="Submit"
                                    class="langselectgobutton"></noscript>
                        </form>
                    </div>

                    <div id="logoff"><a href="<%= links.home %>/exit/" target="_parent">Cerrar sesión</a></div>
                    <!-- end #htmlNav -->
                </div>
                <!-- end #navBg -->
            </div>
            <!-- end #hdrWrap -->
        </div>
    </div>
    <div id="TrialBannerContainer"></div>

    <div id="D_F"></div>
    <div id="D_F_GameSection">
        <div id="club_penguin">
            <div id="upgrade">
                <div id="upgradeContent">
                    <div id="upgradeText">
                        <h1>¡Descarga la última versión de Google Chrome para jugar en Club Penguin!</h1>
                        <p>Pídeles a tus padres que te ayuden a descargarlo.</p>
                        <p>Visita la sección <a href="<%= links.home %>/help/help-topics/technical-help">Preguntas
                                frecuentes
                                sobre navegadores</a> para obtener más info sobre esta actualización.</p>
                    </div>

                    <div id="installText">
                        <h1>¡Uy! Para jugar en Club Penguin necesitas la última versión de Google Chrome.</h1>
                        <p>Pídele a algún adulto que lo descargue de google.com/chrome.</p>
                        <p>Visita la sección <a href="<%= links.home %>/help/help-topics/technical-help">Preguntas
                                frecuentes
                                sobre navegadores</a> para obtener más info sobre esta actualización.</p>
                    </div>
                </div>

                <div id="upgradeButton"><a onclick="init()"><img
                            src="<%= links.localPlay %>/images/upgradeButton.png" /></a>
                </div>

            </div>
        </div>
    </div>
    <noscript>
        <div id="CP_Unallowed_JS_ErrorSection" class="D_ER_ErrorSection">
            <div id="CP_Unallowed_JS_ErrorMsg" class="D_ER_ErrorMsg">
                ¡Uy! Para jugar en Club Penguin necesitas activar JavaScript.
                <br />
                Pídeles a tus padres que te ayuden a activarlo en tu navegador.
            </div>
            <a id="CP_Unallowed_JS_ErrorBtn" class="D_ER_ErrorBtn" href="" target="_self"
                title="Intenta iniciar sesión más tarde.">OK</a>
        </div>
    </noscript>
    <div id="D_ER_ErrorSection">
        <div id="D_ER_ErrorMsg">
            ¡Uy! Hubo un problema
            <br />
            con Club Penguin.
            <br />
            Intenta iniciar sesión más tarde.
        </div>
        <a id="D_ER_ErrorBtn" href="" target="_self" title="Intenta iniciar sesión más tarde.">OK</a>
    </div>
    <div id="CP_SNFError_ErrorSection" class="D_ER_ErrorSection">
        <div id="CP_SNFError_Version_ErrorMsg" class="D_ER_ErrorMsg">
            ¡Disculpa! Hubo un problema al cargar Card-jitsu Nieve.
            <br />
            Please try again, or contact support if the problem continues.
        </div>
        <a id="CP_SNFError_Version_ErrorBtn" class="D_ER_ErrorBtn" href="#">OK</a>
    </div>
    <div id="CP_ES_Version_ErrorSection" class="D_ER_ErrorSection">
        <div id="CP_ES_Version_ErrorMsg" class="D_ER_ErrorMsg">
            ¡Uy! Para jugar Cad-jitsu Nieve necesitas la última versión de Google Chrome.
            <br />
            Pídele a algún adulto que lo descargue de google.com/chrome.
        </div>
        <a id="CP_ES_Version_ErrorBtn" class="D_ER_ErrorBtn" href="#">OK</a>
    </div>

    <script src="<%= links.play %>/scripts/cookies.js" type="text/javascript" charset="utf-8"></script>
    <script src="<%= links.play %>/scripts/jquery-1.6.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="<%= links.play %>/scripts/disney.cp.modal.js" type="text/javascript" charset="utf-8"></script>
    <script src="<%= links.play %>/scripts/disney.cp.rules.js" type="text/javascript" charset="utf-8"></script>
    <script src="<%= links.play %>/scripts/indexpage.js" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        function centerError(errorID) {
            var top = $(window).height() / 2 - 110;
            if (top < 0) {
                top = 0;
            }
            var left = $(window).width() / 2 - 177;
            if (left < 0) {
                left = 0;
            }
            $(errorID).css("top", top.toString() + "px").css("left", left.toString() + "px");
        }

        function centerErrors() {
            var elements = document.getElementsByClassName('D_ER_ErrorSection');
            centerError("D_ER_ErrorSection");

            for (var i = 0; i < elements.length; i++) {
                var element = elements[i];
                if (element.id) {
                    centerError(element.id);
                }
            }
        }

        var daysLeft;
        function showTrialBanner(daysRemaining) {
            daysLeft = daysRemaining;
            $('#TrialBannerContainer').load('trialbanner.htm', "", setTrialBanner);
        }

        function setTrialBanner(responseText, textStatus, XMLHttpRequest) {
            $('#affiliateheaderforcp').height(28);
            $('#club_penguin').height('95%');
            $('#hdrWrap').attr("style", "height:28px !important");

            if (daysLeft > 1) {
                var countDown = $('#TrialText').html().replace('%CountDown', daysLeft);
                $('#TrialText').html(countDown);

                $('#TrialText2').remove();
            } else {
                $('#TrialText').remove();
            }

            if ($.browser.msie && parseInt($.browser.version, 10) === 7) {
                $('#TrialBannerContainer').height(28);
            } else {
                $('#TrialBannerContainer').animate({ height: '+28' }, 1000);
            }

        }

        function biAbout() {

        }

        function selectLang() {
            var addsmallscreen = ""
            if (window.location.href.search(/smallscreen/) >= 0) {
                addsmallscreen = "#/smallscreen";
            }

            window.location.href = document.selectlang.go2.options[document.selectlang.go2.selectedIndex].value + addsmallscreen;
        }

        function send(f) {
            var addsmallscreen = ""
            if (window.location.href.search(/#smallscreen/) >= 0) {
                addsmallscreen = "#/smallscreen";
            }

            var chosen = f.go2.options[f.go2.selectedIndex].value;
            self.location = chosen + addsmallscreen;
            return false;
        }

        function handleGameError(data) {
            if (!data) {
                if (document.getElementById('upgrade')) {
                    document.getElementById('upgrade').style.display = 'block';
                    document.getElementById('installText').style.display = 'none';
                    document.getElementById('upgradeButton').style.display = 'none';
                }
                return;
            }

            if (data.handled) {
                return;
            }

            centerError("#D_ER_ErrorSection");

            $("#club_penguin").hide();
            $("#D_ER_ErrorSection").show();
        }

        function loadGame() {
            try {
                CP.run({
                    language: "<%= language %>",
                    parentId: "club_penguin",
                    elementId: "cp_game",
                    elementClassName: "disney_land_clubpenguin_player",
                    apiPath: '<%= apiPath %>',
                    mediaPath: '<%= mediaPath %>',
                    crossOrigin: '<%= crossOrigin %>',
                    cacheVersion: "<%= cacheVersion %>",
                    contentVersion: "<%= contentVersion %>",
                    minigameVersion: "<%= minigameVersion %>",
                    environmentType: "<%= environmentType %>"
                });
            } catch (e) {
                handleGameError();
            }
        }

        jQuery(document).ready(function () {
            loadGame();
        });
    </script>

    <script src="<%= links.play %>/scripts/disney.error.js" type="text/javascript" charset="utf-8"></script>
    <div id="preload-gif">
        <img src="<%= links.play %>/images/processing-icon.gif" />
    </div>

    <script src="https://www.google.com/recaptcha/api.js?render=<%= recaptchaSiteKey %>"></script>
    <script src="https://unpkg.com/@ruffle-rs/ruffle"></script>

    <div id="preloader"></div>
</body>

</html>