@charset "UTF-8";
/* CSS Document */

/* Main Content Elements */
	

/*
     FILE ARCHIVED ON 20:16:06 Nov 03, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:32:00 Apr 02, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 97.44 (3)
  load_resource: 228.91
  exclusion.robots: 0.306
  captures_list: 116.509
  RedisCDXSource: 0.571
  CDXLines.iter: 13.249 (3)
  PetaboxLoader3.datanode: 156.109 (5)
  PetaboxLoader3.resolve: 151.607 (3)
  exclusion.robots.policy: 0.29
  esindex: 0.03
*/