@charset "UTF-8";
/* CSS Document */

/* Main Content Elements */

	

/*
     FILE ARCHIVED ON 20:29:14 Nov 03, 2013 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 23:31:48 Apr 02, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  RedisCDXSource: 6.296
  PetaboxLoader3.resolve: 188.077 (3)
  exclusion.robots.policy: 0.241
  PetaboxLoader3.datanode: 380.558 (5)
  exclusion.robots: 0.255
  captures_list: 449.865
  LoadShardBlock: 425.299 (3)
  load_resource: 212.988
  CDXLines.iter: 12.235 (3)
  esindex: 0.016
*/